<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>svgshelf usage demo</title>
	<style>
		svg {
			width: 64px;
			height: 64px;
			fill: black;
		}
		.hide {
			width: 0;
			height: 0;
			visibility: hidden;
		}
	</style>
</head>
<body>
	<div class="hide">
		{{{svg}}}
	</div>

	{{#icons}}
	<svg>
		<use xlink:href="#{{.}}" />
	</svg>
	{{/icons}}
</body>
</html>